

.gradient2 {
    background: linear-gradient(to bottom, 	#340468, #000000);
    position: relative;
    display: flex; /* Flexbox para alinear imagen y texto */
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 60vh;
  


  // Responsividad para pantallas pequeñas
  @media (max-width: 768px) {
    .section-content {
      flex-direction: column;
    }
  }
}
