.hero-section {

  background-attachment:fixed;
  background-image: url('../assets/images/imagen.jpg');
  background-size: contain; 
  height: 60vh;
  padding-top: 200px;
  color: #fff;

  .hero-content {
    text-align: center;
    height: 100%;

    .functionalities {
      vertical-align: bottom;
      margin-top: 15%;

      .download-btn {
        padding: 15px 30px;
        background-color: #1e90ff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        margin-top: 20px;
      }

      .qr-code {
        margin-top: 20px;
        width: 150px; /* Ajusta el tamaño según sea necesario */
        height: auto;
      }
    }
  }

  // Responsividad para pantallas pequeñas (móviles)
  @media (max-width: 768px) {
    .functionalities {
      &.web {
        display: none; /* Oculta el QR en móvil */
      }
    }
  }

  // En pantallas grandes, ocultar el botón y mostrar el QR
  @media (min-width: 769px) {
    .functionalities {
      &.mobile {
        display: none; /* Oculta el botón en web */
      }
    }
  }
}
