.section {
  position: relative;

  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 60vh;

  // Fondo blanco si no hay imagen (se activa en App.js)
  &.white-background {
    background-color: #ffffff; /* Fondo blanco */
    background-image: none;
  }

  // Primer fondo con gradiente (azul a morado)
  &.gradient1 {
    background: linear-gradient(to top, #3f4ae0, #000000); /* Gradiente azul a morado */
    background: linear;
  }

  // Segundo fondo con gradiente
  &.gradient2 {
    background: linear-gradient(to top, #00a5bb, #030346); /* Gradiente azul a morado */
  }

  // Aplica un difuminado del fondo con un pseudo-elemento
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
  }

  // Si la sección tiene la clase reverse, invertimos el orden de los elementos
  &.reverse {
    .section-content {
      flex-direction: row-reverse;
    }
  }

  .section-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;

    .section-image {
      flex: 1;

      position: relative; /* Necesario para superposición de imágenes */

      // Contenedor para múltiples imágenes superpuestas
      .image-wrapper {
        position: relative;

        // Ajusta las imágenes superpuestas
        img {
          position: absolute;
          top: 0;

          max-height: 60vh;
          width: auto;
          height: auto;
          border-radius: 10px;
          vertical-align: middle;
        }

        // Aseguramos que la primera imagen esté en el fondo
        .image-0 {
          z-index: 1;
        }

        // Las imágenes siguientes se superponen con mayor z-index
        .image-1 {
          z-index: 2;
        }

        // Puedes agregar más imágenes si es necesario
      }
    }

    .section-code {
      flex: 1;
      font-family: 'Courier New', monospace;
      color: white;
      overflow-x: auto;

      pre {
        margin-top: 60px;
        font-size: 0.9rem;
      }
    }
  }

  // Responsividad para pantallas pequeñas
  @media (max-width: 768px) {
    .section-content {
      flex-direction: column;
    }
  }
}
