.section {
  position: relative;
  display: flex; /* Flexbox para alinear imagen y texto */
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 60vh;

  // Fondo blanco si no hay imagen
  &.white-background {
    background-color: #ffffff;
    background-image: none;
  }

  // Gradiente azul a morado
  &.gradient1 {
    background: linear-gradient(to top, #3f4ae0, #000000);
  }

  // Gradiente azul a morado
  &.gradient2 {
    background: linear-gradient(to top, #00a5bb, #030346);
  }

  // Difuminado con pseudo-elemento
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
  }

  // Invertir el contenido si es necesario
  &.reverse {
    .section-content {
      flex-direction: row-reverse;
    }
  }

  .section-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    position: relative;
    padding: 0; /* Asegura que no haya padding adicional que desplace el contenido */
    height: 100%; /* Asegura que el contenido ocupe todo el alto de la secci칩n */

    .section-image {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: flex-end; /* Asegura que la imagen se quede al fondo */
      margin: 0; /* Evita m치rgenes extra */
      height: 100%; /* Hace que ocupe el 100% de la altura de la secci칩n */
    }

    .image-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end; /* Alinea la imagen al fondo */
      height: 100%;
    }

    /* Imagen cambiante */
    .section-image-inside {

      height: auto;
      object-fit: cover; /* Mantiene la imagen en su aspecto sin deformarse */
      max-height: 100%; /* Permite que la imagen ocupe el 100% del contenedor */
      z-index: 2; /* Imagen por encima del marco */
    }

    /* Marco fijo */
    .marco {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      z-index: 4; /* Marco debajo de la imagen */
    }

    .section-code {
      flex: 1;
      font-family: 'Courier New', monospace;
      color: white;
      overflow-x: auto;

      pre {
        margin-top: 60px;
        font-size: 0.9rem;
      }
    }
  }

  // Responsividad para pantallas peque침as
  @media (max-width: 768px) {
    .section-content {
      flex-direction: column;
    }
  }
}
